{% extends 'base.html.twig' %}

{% block body %}

    <section class="article">
            <article>
                <h2>{{ article.title }}</h2>
                <div class="metadata">Ecrit le {{ article.createAt | date('d/m/y') }} 
                    dans la catégorie {{ article.category.title }}</div>
                <div class="content">
                    <img src="{{ article.image }}">
                        {{ article.content | raw }}
                </div>
            </article>
    </section>
    <section class="comments">
        <h2>Les commentaires</h2>
        {% for comment in article.comments %}
        <div class="row">
            <div class="col-3">
                <p>Par {{ comment.autor }} le {{ comment.createAt | date('d/m/y') }}</p>
            </div>
            <div class="col-9">
                {{ comment.content | raw }}
            </div>
        </div>
        {% endfor %}
    </section>

{% endblock %}